body {
font-family:font-family: 'Open Sans', sans-serif;
	background-repeat: repeat;
	background-position: top center;
	background-attachment: fixed;
}
a {
	text-decoration:none !important;
}
.topbar {
	background-color:#000;
	border-color:1px solid #177e5d;
	padding: 10px 0px;
	color: #fff;
	font-weight:400;
}
.icon {
	padding-top: 15px;
}
.icon img:hover {
	opacity: 0.5;
}
.icon img {
	border-radius: 50%;
	
	margin-right: 3px;

}
.em a {
	color:#f3f3f3;
}
.fa {
	display: inline-block;
	font-family: 'FontAwesome';
	font-weight: normal;
	font-style: normal;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}
.topbar {
	line-height: 26px;
}
.em {
	color:#ccc;
}
.logobar {
	padding-top: 4px;
	
}
.btn-default {
	color: #FFF;
	background-color: #ff960d;
	border: 1px solid #e7711a;
}
.btn-default:hover {
	color: #FFF;
	background-color: #333;
	border: 1px solid #666;
}
ul, li {
	list-style:none;
	padding:0px;
	margin:0px;
	text-decoration:none;
}
.auto-container {
	position:static;
	max-width:1200px;
	padding:0px 15px;
	margin:0 auto;
}
.small-container {
	max-width:680px;
	margin:0 auto;
}
.page-wrapper {
	position:relative;
	margin:0 auto;
	width:100%;
	min-width:300px;
}
.main-header .btn-outer {
	position: absolute;
	right: 30px;
	top: 0px;
	width: 130px;
}
.auto-container {
	position: static;
	max-width: 1200px;
	padding: 0px 15px;
	margin: 0 auto;
}
.header-lower {
border-top: 1px dotted #bcbcbc;
border-bottom: 1px dotted #bcbcbc;
}
/*** 

/*====================================================================
	Main Header style
====================================================================

***/
.nav-outer {

}
.header-style-two .main-menu .navigation > li > a {
	color: #ffffff;
}
.main-header {
	position:relative;
	left:0px;
	top:0px;
	z-index:999;
	width:100%;
	font-family:'Roboto', sans-serif;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}
.main-header .header-top {
	position:relative;
	font-size:13px;
	padding:10px 0px;
	background:#232323;
	color:#ffffff;
	font-family: 'Roboto', sans-serif;
}
.main-header .header-top a {
	color:#ffffff;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
}
.main-header .links-nav li {
	position:relative;
	float:left;
	margin-right:25px;
}
.main-header .top-right .links-nav li {
	margin-right:0px;
	margin-left:25px;
}
.main-header .links-nav li a {
	position:relative;
	line-height:26px;
	font-size:13px;
	text-transform:capitalize;
}
.main-header .links-nav li .fa {
	padding-right:8px;
	font-size:16px;
	color:#fbca00;
}
.main-header .header-top .social-links a {
	position:relative;
	display:inline-block;
	margin-left:20px;
	font-size:13px;
	font-weight:normal;
	color:#ffffff;
	line-height:26px;
}
.main-header .header-top a:hover {
	color:#fbca00;
}
.sticky-header {
	position:fixed;
	opacity:0;
	visibility:hidden;
	left:0px;
	top:0px;
	width:100%;
	padding:0px 0px;
	background:#ffffff;
	z-index:0;
	border-bottom:1px solid #cccccc;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}
.sticky-header .logo {
	padding:6px 0px 2px;
}
.fixed-header .sticky-header {
	z-index:999;
	opacity:1;
	visibility:visible;
	-ms-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-op-animation-name: fadeInDown;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-ms-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	-op-animation-duration: 500ms;
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
	-ms-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-op-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-ms-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-op-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
.main-header .header-upper {
	position:relative;
	padding:20px 0px;
	background:#ffffff;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	z-index:5;
}
.main-header .header-upper .logo img {
	position:relative;
	display:inline-block;
	max-width:100%;
}
.main-header .logo-outer {
	position:relative;
	z-index:25;
}
.main-header .logo-outer .logo img {
	position:relative;
	display:inline-block;
	max-width:100%;
}
.main-header .header-upper .upper-right {
	position:relative;
	padding:12px 0px 0px;
}
.main-header .info-box {
	position:relative;
	float:left;
	min-height:56px;
	margin-left:40px;
	font-size:13px;
	text-transform:uppercase;
	color:#777777;
	padding:10px 0px 0px 64px;
}
.main-header .info-box:last-child {
	padding-left:0px;
}
.main-header.header-style-two .info-box:last-child {
	padding-left:64px;
}
.main-header.header-style-two .info-box {
	padding-left:54px;
	color:#222222;
	text-transform:none;
}
.main-header .info-box .icon-box {
	position:absolute;
	left:0px;
	top:5px;
	width:48px;
	height:48px;
	text-align:center;
	line-height:46px;
	border:1px solid #012f5d;
	color:#012f5d;
	font-size:24px;
	border-radius:50%;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}
.main-header.header-style-two .info-box .icon-box {
	font-size:32px;
	color:#fbca00;
	border:none;
	line-height:50px;
}
.main-header .info-box:hover .icon-box {
	border-color:#fbca00;
	color:#fbca00;
}
.main-header .info-box li {
	position:relative;
	line-height:20px;
	margin:0px 0px;
}
.main-header .info-box li a {
	color:#777777;
}
.main-header .info-box strong {
	font-weight:500;
	color:#fbca00;
	font-size:14px;
}
.main-header .header-lower {
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	background:#f3f3f3;
	border-bottom:3px solid #fbca00;
	z-index:5;
}
.main-header.header-style-two .header-lower {
	background:none;
	border:none;
}
.main-header .nav-outer {
	position:relative;
}
.main-header.header-style-two .nav-outer {
	background:#012f5d;
	padding:0px 160px 0px 30px;
}
.main-header.header-style-three .nav-outer {
	padding:0px 130px 0px 0px;
}
.header-main-box .nav-outer .search-box-btn {
	position:absolute;
	right:0px;
	font-size:14px;
	width:30px;
	height:30px;
	top:50%;
	margin-top:-15px;
	line-height:30px;
	color:#ffffff;
	cursor:pointer;
}
.header-main-box .nav-outer .search-box-btn:hover {
	color:#fbca00;
}
.main-menu {
	position:relative;
}
.main-menu .navbar-collapse {
	padding:0px;
}
.main-menu .navigation {
	position:relative;
	margin:0px;
}
.main-menu .navigation > li {
	position:relative;
	float:left;
	margin-right:30px;
}
.header-style-two .main-menu .navigation > li {
	margin-right:20px;
}
.header-main-box .main-menu .navigation > li {
	border:none;
}
.sticky-header .main-menu .navigation > li {
	margin:0px;
}
.main-menu .navigation > li > a {
	position:relative;
	display:block;
	padding:16px 18px 16px 0px;
	font-size:14px;
	color:#f2f2f2;
	line-height:30px;
	font-weight:500;
	text-transform:uppercase;
	opacity:1;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}
.header-style-two .main-menu .navigation > li > a {
	color:#ffffff;
}
.sticky-header .main-menu .navigation > li > a {
	color:#181818;
	padding:15px 15px;
}
.main-menu .navigation > li:hover > a, .main-menu .navigation > li.current > a, .main-menu .navigation > li.current-menu-item > a {
	color:#fbca00;
	opacity:1;
}
.sticky-header .main-menu .navigation > li:hover > a, .sticky-header .main-menu .navigation > li.current > a, .sticky-header .main-menu .navigation > li.current-menu-item > a {
	background:#981600;
	color:#ffffff;
	opacity:1;
}
.main-menu .navigation > li:hover > a:after {
	opacity:1;
}
.main-menu .navigation > li > ul {
	position:absolute;
	left:0px;
	top:130%;
	width:220px;
	padding:0px;
	z-index:100;
	display:none;
	background:#981600;
	border-top:3px solid #fbca00;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}
.main-menu .navigation > li > ul.from-right {
	left:auto;
	right:0px;
}
.main-menu .navigation > li > ul > li {
	position:relative;
	width:100%;
	border-bottom:1px solid rgba(255, 255, 255, 0.30);
}
.main-menu .navigation > li > ul > li:last-child {
	border-bottom:none;
}
.main-menu .navigation > li > ul > li > a {
	position:relative;
	display:block;
	padding:12px 15px;
	line-height:22px;
	font-weight:400;
	font-size:12px;
	text-transform:uppercase;
	color:#ffffff;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}
.main-menu .navigation > li > ul > li:hover > a {
	background: #f9b100;
}
.main-menu .navigation > li > ul > li.dropdown > a:after {
	font-family: 'FontAwesome';
	content: "\f105";
	position:absolute;
	right:10px;
	top:12px;
	width:10px;
	height:20px;
	display:block;
	color:#ffffff;
	line-height:20px;
	font-size:16px;
	font-weight:normal;
	text-align:center;
	z-index:5;
}
.main-menu .navigation > li > ul > li.dropdown:hover > a:after {
	color:#ffffff;
}
.main-menu .navigation > li > ul > li > ul {
	position:absolute;
	left:110%;
	top:0px;
	width:220px;
	padding:0px;
	z-index:100;
	display:none;
	background:#012f5d;
}
.main-menu .navigation > li > ul > li > ul > li {
	position:relative;
	width:100%;
	border-bottom:1px solid rgba(255, 255, 255, 0.30);
}
.main-menu .navigation > li > ul > li > ul > li:last-child {
	border-bottom:none;
}
.main-menu .navigation > li > ul > li > ul > li > a {
	position:relative;
	display:block;
	padding:12px 15px;
	line-height:22px;
	font-weight:400;
	font-size:14px;
	text-transform:capitalize;
	color:#ffffff;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}
.main-menu .navigation > li > ul > li > ul > li > a:hover {
	background:#fbca00;
}
.main-menu .navigation > li.dropdown:hover > ul {
	visibility:visible;
	opacity:1;
	top:100%;
}
.main-menu .navigation li > ul > li.dropdown:hover > ul {
	visibility:visible;
	opacity:1;
	left:100%;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}
.main-menu .navbar-collapse > ul li.dropdown .dropdown-btn {
	position:absolute;
	right:10px;
	top:6px;
	width:34px;
	height:30px;
	border:1px solid #ffffff;
	text-align:center;
	font-size:16px;
	line-height:28px;
	color:#ffffff;
	cursor:pointer;
	z-index:5;
	display:none;
}
.main-header .btn-outer {
	position:absolute;
	right:30px;
	top:0px;
	width:130px;
}
.main-header.header-style-three .btn-outer {
	position:absolute;
	right:0px;
	top:0px;
	width:130px;
}
.main-header .btn-outer .quote-btn {
	position:relative;
	display:block;
	line-height:24px;
	text-align:center;
	padding:8px 10px;
	margin:11px 0px 0px;
	font-weight:500;
	font-size:13px;
	color:#ffffff;
	background:#fbca00;
	border-radius:2px;
	text-transform:uppercase;
	z-index:1;
}
.main-header.header-style-three .btn-outer .quote-btn {
	background:#012f5d;
	color:#ffffff;
}
.header-main-box .btn-outer .quote-btn {
	padding:27px 0px 18px 30px;
}
.social-links-one {
	position:relative;
}
.main-header .social-links-one {
	top:7px;
}
.social-links-one a {
	position:relative;
	display:inline-block;
	text-align:center;
	margin-left:4px;
	width:40px;
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#928d8d;
	border-radius:50%;
	background:#f4f4f4;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}
.social-links-one a:hover {
	background:#fbca00;
	color:#ffffff;
}
.social-links-two a {
	position:relative;
	display:inline-block;
	text-align:center;
	margin-right:5px;
	width:40px;
	height:40px;
	border:1px solid #e0e0e0;
	line-height:38px;
	font-size:14px;
	color:#cccccc;
	border-radius:50%;
	background:none;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}
.social-links-two a:hover {
	background:#fbca00;
	border-color:#fbca00;
	color:#ffffff;
}
.social-links-three a {
	position:relative;
	display:inline-block;
	text-align:center;
	margin-right:5px;
	width:32px;
	height:32px;
	border:1px solid #f1f1f1;
	line-height:30px;
	font-size:12px;
	color:#aaaaaa;
	background:#f1f1f1;
	border-radius:50%;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}
.social-links-three a:hover {
	background:#fbca00;
	border-color:#fbca00;
	color:#ffffff;
}
.main-header .btn-outer .quote-btn {
	position: relative;
	display: block;
	line-height: 24px;
	text-align: center;
	padding: 8px 10px;
	margin: 11px 0px 0px;
	font-weight: 500;
	font-size: 13px;
	color: #ffffff;
	background: #fbca00;
	border-radius: 2px;
	text-transform: uppercase;
	z-index: 1;
}
/*** 


====================================================================
	Main Slider style
====================================================================

***/

.tyu-1 img {
	padding:10px;
	border:1px solid #ccc;
}
.abtur a {
	color:#fc0;
	text-decoration:underline;
	font-weight:bold;
}
.abtur a:hover {
	color:#f2f2f2;
	text-decoration:underline;
	font-weight:bold;
}
.sec-title h2 {
	font-size: 28px;
	color:#069;
	font-weight: 700;
	line-height:30px;
	text-transform: uppercase;
}
.abuot_1 {
	line-height: 24px;
	text-align: justify;
	padding: 10px;
}
.abtur {
	line-height: 19px;
	text-align: justify;
	background-color: #31a0d4;
	padding: 10px;
	color: #f2f2f2;
}
.abut-top {
	margin-top:20px;
}
.theme_color {
	color: #e3950e;
}
.carousel-control.left {
	background:none;
}
.carousel-control.right {
	background:none;
}
.qui {
	background-color:#012f5d;
	color:#f2f2f2;
	text-transform:uppercase;
	padding:10px;
}
.tyu {
	background-color: #fff;
	padding: 10px;
	border: 1px solid #f2f2f2;
	box-shadow: 1px 1px 3px #cccccc;
	color: #898989;
}
.hed {
	background-color:#012f5d;
	padding:10px;
	color:#f2f2f2;
	text-transform:uppercase;
}
.dec {
	text-align: justify;
	font-size: 14px;
	line-height: 21px;
	color: #6e6e6e;
}
.example-image {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
}
.bg-pro .box-1 {
	margin-bottom:25px;
}
.zoom_img_product {
	float: right;
}
.bags_scrool_head {
	height: 39px;
}
.our_product_img {
	bottom: 24px;
	left: 76px;
	position: relative;
}
.box-1 img {
	border:2px solid #fff;
	box-shadow: 1px 1px 3px #cccccc;
}
.box-1 {
	background-color: #fff;
	padding: 10px;
	box-shadow: 0 8px 6px -6px #999;
	border:1px solid #ccc;
	margin-bottom: 7px;
}
.box-1:hover {
	background-color: #f3f3f3;
	cursor: pointer;
	border: 1px solid #ffb620;
}
.box-2 {
	box-shadow: 1px 1px 3px #cccccc;
	padding:10px;
}
.box-3 {
	box-shadow: 1px 1px 3px #cccccc;
	padding:10px;
}
.content {
	margin: auto;
	width: 1000px;
}
.abouts_title {
	font-size: 20px;
	line-height: 25px;
	font-family: Segoe UI;
	color: #06F;
	font-weight: bold;
	text-transform:uppercase;
}
.our_product_img {
	bottom: 24px;
	left: 76px;
	position: relative;
}
.bags_scrool_head {
	height: 39px;
}
.simply-scroll .simply-scroll-list li img {
	vertical-align: middle;
	margin: 0px;
}
.our-pro {
	text-align:left;
	font-weight:bold;
	border-left:2px solid #F60;
	padding-left:10px;
	padding-bottom:7px;
	margin-bottom:10px;
	text-transform:uppercase;
}
.our_product_dark_line {
	border: 1px solid #898989;
	margin-left: 54px;
	margin-top: -2px;
	width: 919px;
}
.ourproducts_heading_line {
	border-top: 3px solid #95CB5A;
	height: 3px;
	position: relative;
	top: 12px;
	width: 55px;
}
.heading_content_bg {
	background-color: rgb(65, 64, 66);
	position: relative;
	top: 160px;
}
.heading_bag {
	float: left;
	left: 9px;
	color: white;
	position: relative;
	top: 9px;
	font-size: 15px;
}
.simply-scroll .simply-scroll-list li {
	margin-left: 10px;
}
.sprites li {
	background-image: url('img/bg_bag.png');
	background-repeat: no-repeat;
	background-position: top left;
	width: 237px;
	border-right: medium none;
	height: 216px;
	float: left;
	margin-right: 10px;
}
.accordion {
	width: 100%;
	max-width: 360px;
	margin: 0px auto 20px;
	background: #F0F0F0;
}
.product-1 {
	background-color:#06C;
	padding:10px;
	color:#f2f2f2;
}
.product-2 {
	background-color:#f2f2f2;
	padding:10px;
	color:#333;
}
#bg-pro1 {
	background-color:#ccc;
}
.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #4D4D4D;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.pro-m {
	margin-bottom:32px;
}
.bor {
	border-bottom:1px solid F90;
	background-color:#f2f2f2;
	padding:10px;
}
.price {
	font-size:16px;
	font-weight:bold;
	color:#f00;
}
.price strong {
	color:#333;
}
.price-pro-listing {
	font-size:14px;
	font-weight:bold;
	color:#f00;
	padding-bottom:10px;
}
.price-pro-listing strong {
	color:#333;
}
.enquire {
	text-align:center;
	text-transform:uppercase;
}
.contact-form {
	margin-top:15px;
}
.contact-form .textarea {
	min-height:220px;
	resize:none;
}
.form-control {
	box-shadow:none;
	border-color:#eee;
	height:49px;
}
.form-control:focus {
	box-shadow:none;
	border-color:#00b09c;
}
.form-control-feedback {
	line-height:50px;
}
.main-btn {
	background:#00b09c;
	border-color:#00b09c;
	color:#fff;
}
.main-btn:hover {
	background:#00a491;
	color:#fff;
}
.form-control-feedback {
	line-height: 50px;
	top: 0px;
}
.quiry {
	background-color:#f2f2f2;
	min-height:428px;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 13px 23px 13px 23px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
.tery {
	background-color:#00b09c;
	padding:10px;
	color:#f2f2f2;
}
.bhg {
	background-color:#f2f2f2;
}
.pa_title {
	background-color:#036;
	padding:10px;
	font-weight:bold;
	text-transform:uppercase;
	color:#f2f2f2;
	margin-bottom:10px;
}
.rtable {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	overflow-x: auto;
	white-space: nowrap;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
}
.rtable tr {
	background-color:#f2f2f2;
}
.pro-desc-123 {
	line-height:23px;
	font-size:14px;
	color:#666;
	margin-top:20px;
}
.accordion li:last-child .link {
	border-bottom: 0;
}
.features {
	line-height:24px;
}
.features li {
	list-style:circle;
	margin-left:40px;
}
.features h4 {
	color:#399;
}
.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}
.accordion li.open .link {
	color: #b63b4d;
}
.accordion li.open i {
	color: #b63b4d;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
/**
 * Submenu
 -----------------------------*/


.submenu {
	display: none;
	background: #444359;
	font-size: 14px;
}
.submenu li {
	border-bottom: 1px solid #4b4a5e;
}
.submenu a {
	display: block;
	text-decoration: none;
	color: #d9d9d9;
	padding: 12px;
	padding-left: 42px;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.submenu a:hover {
	background: #b63b4d;
	color: #FFF;
}
.footer {
	background: #f6f6f6;
	padding: 20px 0px;
	margin-top: 20px;
}
.footer h4 {
	color: #f2f2f2;
	font-weight: 300;
}
.footer p {
	color: #aeaeae;
	font-size: 13px;
	line-height:24px;
	text-align:justify;
}
.footer-links li a {
	color: #aeaeae;
	font-size: 14px;
	line-height:28px;
}
.main-footer .add {
	color: #aeaeae;
	font-size: 13px;
}
.main-footer .add a {
	color: #f2f2f2;
	font-size: 13px;
}
.ftr {
	background-color: #1a1c1f;
	padding: 20px 0px;
	color: #aeaeae;
	font-size: 13px;
	text-transform: uppercase;
}
.testi-monial {
	background-color:#f2f2f2;
	padding:0px;
}
.blg1 p {
	font-size: 14px;
	text-align: justify;
}
.What-1 {
	background-color: #e4712e;
	color: #f8f3d3;
	padding-bottom: 30px;
}
.carousel-indicators {
	bottom: -4px;
}
.What-1 h3 {
	background-color: #e4712e;
	padding: 10px 10px 10px 10px;
	text-transform: uppercase;
	color: #f8f3d3;
	text-align: center;
}
.why {
	background-color: #4495D1;
	height: auto;
	color: #f2f2f2;
	padding-bottom: 30px;
}
.why h3 {
	padding: 10px 10px 10px 10px;
	text-transform: uppercase;
	color: #f8f3d3;
	text-align: left;
}
.what {
	background-color: #5c539c;
	color: #f2f2f2;
	border-right: 9px solid #fff;
	border-left: 10px solid;
	padding-bottom: 21px;
}
.what h3 {
	padding: 10px 10px 10px 10px;
	text-transform: uppercase;
	color: #f8f3d3;
	text-align: center;
}
.whay-tu {
	margin-left: 25px;
}
.whay-tu li {
	margin-left: 15px;
	list-style: disc;
	line-height: 27px;
	font-size: 16px;
}
#icon {
	float:left;
	margin-top:15px;
}
.ftr-1{ font-size:12px;}

.about h3{text-transform:uppercase;}
